body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.label {
  border: 2px solid hsl(190, 100%, 23%);
  padding: 0 1rem;
  color: white;
  background-color: hsl(190, 100%, 23%);
}

#editor {
  border-radius: 0;
  background-color: hsl(160, 41%, 70%);
  border: 5px solid hsl(190, 100%, 23%);
}

#preview {
  background-color: hsl(160, 41%, 70%);
  padding-top: 0.6rem;
  padding-left: 0.5rem;
  border: 5px solid hsl(190, 100%, 23%);
}

a {
  color: #001219;
  font-weight: bold;
}
a:visited {
  color: hsl(300, 87%, 15%);
}

code {
  background-color: white;
  font-weight: bold;
}

blockquote {
  border-left: 3px solid black;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

img {
  display: block;
  max-width: 95%;
  margin: 0.5rem auto;
}